@model List<DigikalaDataAccess.Entity.Comment>


@{
    ViewData["Title"] = "Index";
}

@Html.Partial("_PartialTop")

@Html.Partial("_PartialNav")

@{
    var counter = 1;
}

@section Style{
    .button1 {
    font-size: 1rem;
    line-height: 25px;
    font-weight: 700;
    padding: 12.5px;
    border-radius: 7.5px;
    }

    .input1 {
    padding: 10px;
    border-radius: 7.5px;
    }

    .shadow {
    box-shadow: 0 5px 5px 0 #ededed, 0 5px 5px 0 #ededed;
    border-radius: 15px;
    }

    .txt {
    font-size: 14px;
    }
}

<div class="row mb-5 d-flex justify-content-end ">

    @foreach (var item in Model)
    {
    <div class="card col-lg-5 col-sm-10 border-danger m-5 float-left">
        <div class="card-body">
            <h5 class="card-title">@counter</h5>
            <h6 class="card-subtitle mb-2 text-danger">@item.CommentHead</h6>
            <p class="card-text text-secondary">@item.CommentBody</p>
        </div>
    </div>

            counter++;
            }
        
    </div>

@Html.Partial("_PartialFooter")